/* CSS Style sheet Template, developed by Amal Kariyawasam (https://1amal.github.io), 
Last Update: 23/08/2024 
*/

:root {
  font-size: medium;
  /* Colour Scheme */
  /* HTML Main Element Colours */
  --colourRootBackground: #1f2937;
  --colourH1Heading: #000000;
  --colourH2Heading: #ffffff;
  --colourH3Heading: #ffffff;
  --colourPParagraph: #1f2937;
  --colourALinks: #2997ff;
  --colourALinksActive: #13a570;
  --colourALinksVisited: #027a50;
  --colourALinksHover: #7940e3;
  /* Different Div Section Colours */
  --colourIntroductionBackground: #c30808;
  --colourIntroductionText: #ffffff;
  --colourProjectBackground: #ffffff;
  --colourProjectText: #110000;
  --colourFooterBackground: #1f2937;
  --colourFooterText: #ffffff;
  --colourMainMenuBackground: #235bab;
  --colourMainMenuText: #ffffff;
  --colourBorderProjects: #5e50e2;
  --colourCPDPending: #d68418;
  --colourCPDCompleted: #13a570;
}

@font-face {
  font-family: "openSansRegular";
  src: url(./fonts/open-sans-regular.ttf);
  font-weight: normal;
  font-style: normal;
}

body {
  /* display: flex;
  flex-direction: column; */
  margin: 0rem;
  font-family: "openSansRegular";
  min-height: 100vh;  /*   The min-width CSS property sets the minimum width of an element. 
  It prevents the used value of the width property from becoming smaller than the value specified for min-width. */
}

h1 {
  /* display: flex; */
  /* justify-content: center; This defines the alignment along the main axis. It helps distribute extra free space leftover when either all the flex items on a line are inflexible, or are flexible but have reached their maximum size. 
  It also exerts some control over the alignment of items when they overflow the line. */
  background-color: var(--colourRootBackground);
  color: var(--colourH1Heading);
  /* text-align: center; */
  font-size: 2.5rem;
  margin: 0rem;
}

p {
  margin: 1rem;
  font-size: 1rem;
}

a:link {
  background-color: transparent;
  text-decoration: none;
  color: var(--colourALinks);
}

a:visited {
  background-color: transparent;
  text-decoration: none;
  color: var(--colourALinksVisited);
}

a:hover {
  background-color: transparent;
  text-decoration: underline;
  color: var(--colourALinksHover);
}

a:active {
  background-color: transparent;
  text-decoration: underline;
  color: var(--colourALinksActive);
}

.mainWebsiteGridContainer {
  display: grid;
  grid-template: 1fr 2fr 2fr 1fr / 1fr;
}

/* ********** Start of code for Navigation Bar **********  */
.webSiteMainMenuDiv {
  padding: 1rem;
  display: flex; /*Enable flexbox layout */
  flex-direction: row;
  justify-content: space-between; /*This defines the alignment along the main axis. It helps distribute extra free space leftover when either all the flex items on a line are inflexible, or are flexible but have reached their maximum size. 
  It also exerts some control over the alignment of items when they overflow the line. */
  flex-wrap: wrap;
  flex-shrink: 0;
  background-color: var(--colourRootBackground);
}

.webSiteMainMenuDiv ul {
  list-style-type: none;
  margin: 0rem;
  padding: 0rem;
  overflow: hidden;
}

.webSiteMainMenuDiv li {
  float: left;
}

.webSiteMainMenuDiv li a {
  color: var(--colourMainMenuBackground);
  padding: 1rem;
  text-decoration: none;
  font-size: 2rem;
}

.webSiteMainMenuDiv li a:hover {
  background-color: var(--colourALinksHover);
}

.webSiteMainMenuDiv a:active {
  background-color: var(--colourALinksActive);
}

/* ********** End of code for Navigation Bar **********  */

.introductionDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;

  font-size: 1.5rem;
  font-weight: 700;
  background-color: var(--colourIntroductionBackground);
  color: var(--colourIntroductionText);
}

.portfolioDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 0;
  flex: 1;
  column-gap: 1.5rem;

  font-size: 1.5rem;
  row-gap: 1rem;
  justify-content: baseline;
  align-items: stretch;
  color: var(--colourProjectText);
}

.projectDiv {
  display: grid;
  grid-template: 2fr 1fr 1fr 1fr/ 1fr 1fr;
  justify-items: center;
  /* column-gap:0.5rem;
  row-gap:0.5rem; */
  /* flex-wrap: wrap;
  flex-direction: column; */
  margin-bottom: 1rem;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 25px;
  border-width: 0.5rem;
  border-style: solid;
  /* width: 10rem; */
  border-color: var(--colourBorderProjects);
}

.projectPreviewImageDiv
{
grid-area:1/1/2/3;
}

.projectNameDiv
{
  grid-area:2/1/3/2;
}

.projectLinks
{
  grid-area:2/2/3/3;
}
.projectDescriptionDiv
{
  grid-area:3/1/4/3;
}

.projectTechStackDiv
{
  grid-area:4/1/5/3;
}

.footerDiv {
  display: block;
  text-align: center;
  padding: 2rem;
  background-color: var(--colourFooterBackground);
  color: var(--colourFooterText);
}

.cpdCompleted {
  color: var(--colourCPDCompleted);
  font-size: 1.6rem;
}

.cpdPending {
  color: var(--colourCPDPending);
  font-size: 1.5rem;
}

.svgLogos {
  height: 2rem;
  width: 2rem;
}

.projectScreenShotImage
{
  height:10rem;
  width:40rem;
}

.techLogosDiv {
}
